.plant-details-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    font-family: sans-serif;
  }
  
  .plant-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .back-button {
    font-size: 24px;
    text-decoration: none;
    color: black;
  }
  
  .plant-title h1 {
    font-size: 30px;
    margin: 0;
  }

  .plant-title p {
    font-size: 25px;
  }
  
  .icons button {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .top-section-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 20px 0;
    padding: 20px 0px 8px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.335);
  }
  
  .plant-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .image-and-recs {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
  }

  .recommendations h3 {
    margin: 0 0 8px;
  }
  
  .rec-box {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  }
  
  .rec-box.blue {
    background: #e6f0ff;
    border: 2px solid #a6c9ff;
  }
  
  .rec-box.yellow {
    background: #fff9e6;
    border: 2px solid #ffd966;
  }
  
  .stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin: 20px 0;
  }
  
  .stat-box {
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.335);
  }
  
  .stat-box.blue { 
    background: #e6f0ff;
    border: 2px solid #a6c9ff;
  }
  .stat-box.yellow { 
    background: #fff9e6;
    border: 2px solid #ffd966;
  }
  .stat-box.red { 
    background: #ffe6e6;
    border: 2px solid #ffaeae;
  }
  .stat-box.green { 
    background: #e6ffef;
    border: 2px solid #67cf8d;
  }

  .care-history {
    padding: 1px 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.335);
  }
  
  .care-history h3 {
    margin-bottom: 12px;
  }
  
  .care-history ul {
    list-style: none;
    padding: 0;
  }
  
  .care-history li {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  
  .care-history .dot {
    width: 10px;
    height: 10px;
    background: gray;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .care-history .green-dot {
    background: green;
  }
  